/* .section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
} */

.row {
    margin-bottom: 0px;
}

.section-populer {
    background: #f0f4f7;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.section-footer .fab {
    margin: 5px 10px;
}